*{
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    
}
body,html{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    
}
#top{
    height: 60%;
    width: 100%;
    background-image: url("./image/earphone.avif");
    background-size: cover;
    background-position: 10% 90%;

}
#overlay{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0,0);
}

#text{
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 20%;
    /* height: 120px; */
    padding: 0 10vw;
    /* background-color: red; */
    display: flex;
    
    
}
#text h1{
    font-size: 6vw;
    font-weight: 500;
}

#textright{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;

}

    


#textright p{
    font-size: 14px;
    width: 40%;
}

#bottom{
    height: 40%;
    width: 100%;
    background-color: blue;
    display: flex;
}
#bone{
    height: 100%;
    width: 25%;
    background-color:#fff;
    background-image: url("./image/mike.avif");
    background-size: cover;
}
#btwo{
    height: 100%;
    width: 25%;
    background-color:green;
    background-image: url(./image/music);
    background-size: cover;
    background-position: 10% 50%;
}
#bthree{
    height: 100%;
    width: 25%;
    background-color:rebeccapurple;
    background-image: url(./image/listen.avif);
    background-size: cover;
    background-position: 0%;
}
#bfour{
    height: 100%;
    width: 25%;
    background-color: pink;
    background-image: url("./image/bud.avif");
    background-size: cover;
    background-position: 10% 50%;
}